<h1><%= @course.name%> Courses</h1>

  <h2><%= @course.name %></h2>
  <p><%= @course.description%></p>
  <ol>
  <% @course.parts.each do |part| %>
    <li><%= part.description %></li>
  <% end %>
  </ol>

<% if policy(@course).edit? %>
    <%= link_to "Edit", edit_course_path(@course) %>
<% end %>

<% if policy(@course).destroy? %>
    <%= link_to "Delete", course_path(@course), method: :delete, data: { confirm:
     "Are you sure?" } %>
<% end %>

